<app-navbar></app-navbar>
<!-- <div class="all">
    <div class="container text-center"><br>
        <H1>ABOUT STEMIA</H1><br>
        <p>Arousing interest of the pupil in the <strong>Science, Technology, Engineering, Math, Innovation </strong> and <strong>Arts</strong> through interactive and fun activities to prepare them for the future. </p>
    
    </div>
</div> -->
<div class="sihle">
    
    <div class="about-section">
       <div class="inner-container">
            <!-- <h1>About Us</h1> -->
           <h1>Mission</h1>
           <p class="text">
        Arousing interest of the pupil in the <strong>Science, Technology, Engineering, Math, Innovation </strong> and <strong>Arts</strong> through interactive and fun activities to prepare them for the future.
           </p>
           <div class="skills">
               <!-- <span><strong>hackathon</strong></span>
               <span><strong>Feed</strong></span>
               <span><strong>application</strong></span> -->
           </div>
       </div>
    </div>
   </div>