.active{
    background: blue;
}
.btn{
    background-color: rgb(255, 0, 0);
    border: none;
    padding: 10px 20px;
    display: inline-block;

}
.nav-item a
{
    color: aliceblue;
    font-size: large;
    background-color: black;
    margin-top: 5%;
}
.nav-item i
{
    font-size: 20px;
    padding: 10%;
}
.nav-item a:hover
{
    color: black;
    background-color: whitesmoke;
}
.sihle
{
    position: absolute;
    left: 85%;
    top: 40%;
    height: 50px;
}
