<div class="container" style="color: aquamarine;">
    <div id="question-container" class="hide">
        <div  id="answer-buttons" class="btn-grid">
            <button class="btn">answer 1</button>
            <button class="btn">answer 2</button>
            <button class="btn">answer 3</button>
            <button class="btn">answer 4</button>
        </div>
    </div>
    <div class="control">
        <button id="start-btn" class="start-btn btn"> Start</button>
        <button id="next-btn" class="next-btn btn"> next</button>

    </div>
</div>
<div class="score">
    <span id="right-answers"></span>
</div>