<div class="container mt-5 mb-5">

    <h1><strong> Events</strong></h1>

    <div class="grid mt-5 mb-5">
        

        
            <div class="grid-item">
            <div class="card">
                <img class="card-img" src="assets\grp\R.jfif" alt="">
                <div class="card-content">
                    <h1 class="card-header text-center">Hackathon</h1>
                    <!-- <p class="card-text">An event in which a large number of people meet to engage in collaborative computer programming:</p> -->
                    <!-- <button class="card-btn">Visit <span>&rarr;</span></button> -->
                    <a class="card-btn" routerLink="/home">Visit <span>&rarr;</span></a>
                </div>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="assets\grp\OIP.jfif" alt="">
                <div class="card-content">
                    <h1 class="card-header text-center">Feed</h1>
                    <!-- <p class="card-text">an event in which a large number of people meet to engage in collaborative computer programming:</p> -->
                    <!-- <button class="card-btn">Visit <span>&rarr;</span></button> -->
                    <a class="card-btn" routerLink="/calender">Visit <span>&rarr;</span></a>
                </div>
            </div>
        </div>

        
        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="assets\grp\team_tut.jpg" alt="">
                <div class="card-content">
                    <h1 class="card-header text-center">WorkShop</h1>
                    <!-- <p class="card-text">An event in which a large number of people meet to engage in collaborative computer programming:</p> -->
                    <!-- <button class="card-btn">Visit <span>&rarr;</span></button> -->
                    <a class="card-btn" routerLink="/events">Visit <span>&rarr;</span></a>
                </div>
            </div>
        </div>
    
        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="assets\grp\R (1).jfif" alt="">
                <div class="card-content">
                    <h1 class="card-header text-center">Application</h1>
                    <!-- <p class="card-text">An event in which a large number of people meet to engage in collaborative computer programming:</p> -->
                    <!-- <button class="card-btn">Visit <span>&rarr;</span></button> -->
                    <a class="card-btn" routerLink="/competitition">Visit <span>&rarr;</span></a>
                </div>
            </div>
        </div>
    </div>
    
</div>