<div class="start_btn"><button noClick="{start_btns}">Start Quiz</button></div>
<div class="info_box">
    <div class="info_title">
        <span>some rules of this quiz</span>
    </div>
    <div class="info_list">
        <div class="info">1 You will have only <span>15 second</span> per qustion.</div>
        <div class="info">2 Once you select you answer, you can't reselect.</div>
        <div class="info">3 You can't select any option once time goes off.</div>
        <div class="info">4 You can't exit from the Quiz while you're playing</div>
        <div class="info"> you'll get points on the basis of your correct answer</div>
    </div>
    <div class="buttons">
        <button class="quit">Exit Quize</button>
        <button class="restart">Continue</button>
       
    </div>
    
</div>
<div class="quiz_box">
    <header>
        <div class="title">Awesome Quiz Application</div>
        <div class="timer">
            <div class="time_text"> Time Left</div>
            <div class="time_sec">15</div>
        </div>
    </header>
    <section>
        <div class="que_text">
            <span>what does HTML stand for</span>
        </div>
        <div class="option_list">
            <div class="option">
                <span>Heper Text markup language</span>
                <div class="icon"><i class="bi bi-check"></i></div>
            </div>
            <div class="option">
                <span>Heper Text Preprocessor</span>
                <div class="icon"><i class="bi bi-x"></i></div>
            </div>
            <div class="option">
                <span>Heper Text multiple language</span>
                <div class="icon"></div>
            </div>
            <div class="option">
                <span>Heper Text multi language</span>
                <div class="icon"></div>
            </div>
        </div>
    </section>

    <footer>
        <div class="total_que">
            <span><p>2</p><p>of</p><p>5</p> Questions</span>    
        </div>
        <button class="next_btn">next Que</button>
    </footer>
</div>
<div class="result_box">
    <div class="icon">
        <i class="bi bi-trophy-fill"></i>
    </div>
    <div class="complete_text">You've comleted the Quiz!</div>
    <div class="score_text">
        <span>and sorry, you got only <p>2</p> out of <p>5</p> </span>
    </div>
    <div class="buttons">
        <button class="restart">Replay Quiz</button>
        <button class="Quit">Quit Quiz</button>
    </div>
</div>

<div class="container">
    <p style="height: 1000px;"></p>
</div>