<app-navbar></app-navbar>
<div class="container">
    <div class="text-center">
        <h1><strong>EVENTS</strong></h1>
    </div>
    <h2><strong>Upcoming Events</strong></h2><br>
    <div class="wrapper">
        <div class="card">
            <a href="assets\img\home.jpg"><img src="assets\NEW\HACK.jpeg" alt=""></a>
            <div class="info">
                <h1>Hackathon</h1>
                <p>Tshwane University of Technology hackathon competition organized by the Faculty of ICT & Directorate of Research & Innovation</p>
                <a href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_NjFmOWE3ZDctNTZhMy00MDU1LWI1ZjctZGQ5N2YwNjI1NjQ1%40thread.v2/0?context=%7b%22Tid%22%3a%223df74539-9453-4d03-bb9d-b9102cb9ce9c%22%2c%22Oid%22%3a%226e49a6ca-c5eb-4200-905a-7a4f9ed9f2c5%22%7d" class="btn">Join</a>
            </div>
        </div>
        <div class="card">
            <img src="assets\grp\hac.jpeg" alt="">
            <div class="info">
                <h1>FEED</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet eum quae velit iste, repellat odio delectus hic id similique blanditiis, commodi placeat veniam iusto tempora quam suscipit dicta ipsam.</p>
                <a href="" class="btn">Join</a>
            </div>
        </div> 
        <div class="card">
            <img src="assets\h\h5 - Copy.png" alt="">
            <div class="info">
                <h1>Hackathon</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet eum quae velit iste, repellat odio delectus hic id similique blanditiis, commodi placeat veniam iusto tempora quam suscipit dicta ipsam.</p>
                <a href="" class="btn">Join</a>
            </div>
        </div>
        <div class="card">
            <img src="assets\grp\hac.jpeg" alt="">
            <div class="info">
                <h1>Heading</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eveniet eum quae velit iste, repellat odio delectus hic id similique blanditiis, commodi placeat veniam iusto tempora quam suscipit dicta ipsam.</p>
                <a href="" class="btn">Join</a>
            </div>
        </div>

    </div><br>
    <h2><strong>Past Events</strong></h2><br>
        <div class="card">
            <img src="assets\NEW\HACK.jpeg" alt="">
            <div class="info">
                <h1>Hackathon</h1>
                <p>Tshwane University of Technology hackathon competition organized by the Faculty of ICT & Directorate of Research & Innovation</p>
                <a href="assets\videos\math.mp4" class="btn">Watch Video</a>
            </div>
        </div>
</div>
