<app-header></app-header>
<div class="container mt-4">
    <h1>
        Dashboard
    </h1>

    
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-dark rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0" style="color: white;">Messages</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Karabo</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
            
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Sihle</h6>
                            <small>30 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Palesa</h6>
                            <small>55 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-dark text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Learner information</h6>
            <a routerLink="/learner">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Email</th>
                        <th scope="col">School</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Karabo Koenaite</td>
                        <td>karabo@gmail.com</td>
                        <td>Hebron high</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Bonolo Maki</td>
                        <td>bonolo@gmail.com</td>
                        <td>Mabopane high</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td scope="row">3</td>
                        <td>Zanele Mkhozi</td>
                        <td>zanele@gmail.com</td>
                        <td>Hebron high</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td scope="row">4</td>
                        <td>John Wyne</td>
                        <td>john@gmail.com</td>
                        <td>welkom high</td>
                        <td>11</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->