<app-navbar></app-navbar>
<div class="container">
    <h1 class= "text-center"><strong>Gallery</strong></h1>
      <br><br>
    <h1>Hackathon</h1><br><br>
    <div class="slider">

        <div class="slide-track">
            <div class="slide">
               <a href="assets\h\h1 - Copy - Copy.png"> <img src="assets\h\h1 - Copy - Copy.png" alt=""></a>
            </div>
            <div class="slide">
                <a href="assets\h\h2 - Copy - Copy.png"> <img src="assets\h\h2 - Copy - Copy.png" alt=""></a>
            </div>
            <div class="slide">
                <a href="assets\h\h3 - Copy - Copy.png"> <img src="assets\h\h3 - Copy - Copy.png" alt=""></a>
            </div>
            <div class="slide">
                <a href="assets\h\h6 - Copy - Copy.png"> <img src="assets\h\h6 - Copy - Copy.png" alt=""></a>
            </div>
            <div class="slide">
                <a href="assets\h\h5 - Copy.png"><img src="assets\h\h5 - Copy.png" alt=""></a>
            </div>
            <div class="slide">
               <a href="assets\h\h9 - Copy.png"> <img src="assets\h\h9 - Copy.png" alt=""></a>
            </div>
            <div class="slide">
                <a href="assets\h\h8.png"><img src="assets\h\h8.png" alt=""></a>
            </div>
            <div class="slide">
               <a href="assets\h\h7 - Copy - Copy.png"> <img src="assets\h\h7 - Copy - Copy.png" alt=""></a>
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
        </div>
    
    
        <!-- same 9 slide (DOUBLED) -->
    
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
        <div class="slide">
            <img src="assets\img\home.jpg" alt="">
        </div>
    </div>
    
    <h1>TUT</h1>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="assets\h\h1 - Copy - Copy.png" alt="">
            </div>
            <div class="slide">
                <img src="assets\t\y2.png" alt="">
            </div>
            <div class="slide">
                <img src="assets\t\y3.png" alt="">
            </div>
            <div class="slide">
                <img src="assets\t\y4.png" alt="">
            </div>
            <div class="slide">
                <img src="assets\t\y5.png" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
        </div>
  
    
    </div>
    <!-- <h1>TUT WorkShop</h1>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
            <div class="slide">
                <img src="assets\img\home.jpg" alt="">
            </div>
        </div>
     -->
</div>
