
<section>
    <div class="lion">
        <img src="assets\NEW\SI (2).jpeg" alt="">
    </div>
    <div class="tiger">
        <img src="assets\NEW\SI (1).jpeg" alt=""> 
    </div>
    <h1 class="text-center">IMPORTANTNCE OF SCIENCE IN ICT</h1><br><br><br>
        <P><strong>Importance of science  in ICT </strong><br>
            ICT can enhance teaching and learning in the primary science lesson and while ICT capability is embedded in the Science learning area, you as a teacher can make the most of this opportunity and develop ICT capability within the context of science.
            <br><br><br>
            
            <strong>How is science related to ICT?</strong><br>
            The use of ICT in science education offers even more advantages due to the attractive premises to simulate and interactively explore and test experiments which would be too expensive or too dangerous in real settings (for example in nuclear physics).
            <br><br><br>
            <strong>How is science used in computers?</strong><br>
            They allow us to analyze huge data sets and run statistical analyses far quicker than in the past. Scientists also use them to run simulations and build electronic models
            <br><br><br>
            <strong>How does science and technology help students?</strong><br>
            Developments in science and technology increase students' motivation by teaching through visual presentations. Students are studying social science through educational videos covering topics such as social conflicts, sociology applications, social processes, psychological perspectives, and more
            <br><br><br>
            
            <strong>The advantages of Science and Technology are:</strong><br>
           1. It will make our life easier. <br>
            2. It helps us organize our daily activities. <br>
            3. This helps our work can be done faster. <br>
            4. It helps us to communicate more easily with others. <br>
            5. This helps us to better know and understand other cultures and societies.
            <br><br><br>
            <strong>What is the conclusion of science and technology?</strong><br>
            The impact of science and technology on modern society is broad and wide-ranging, influencing such areas as politics, diplomacy, defense, the economy, medicine, transportation, agriculture, social capital improvement, and many more. The fruits of science and technology fill every corner of our lives.</P>

        
</section>

<!-- <div class="sihle">
    <img src="assets\grp\3333.jpg" alt=""  height="260">
</div> -->