<app-navbar></app-navbar>
<div class="container">
    <img src="assets\img\Mangethe.jpeg" alt="" height="180" width="180"><br><br>
    <p><strong>Dashboard / Points</strong></p>

<div class="zwane">
    <h1><strong>Mxolisi Zwane</strong></h1><br>
    <a href=""><i class="bi bi-chat-fill"></i>      Massage</a>
</div>
<br>
<div class="zulu text-center">
    
    <h2><strong>Subjects i am taking</strong></h2>
    
</div><br>

<div class="gogo text-center">
        
        <div class="row">
            <div class="col-lg-5"><hr>
                <h3><strong>Subjects name</strong></h3><hr>
                <h4>Hackathon</h4>
            </div>
            <div class="col-lg-5"><hr>
                <h3><strong>Points</strong></h3><hr>
                <h4>56.70</h4>
            </div>
            
        </div>
</div>
    

    
<div class="all">
    
    <!-- one -->
    <div class="circle-wrap">
         <div class="circle">
             <!-- 1 -->
             <div class="mask full-1">
                <div class="fill-1"></div>
            </div>
    
              <!-- 2 -->
             <div class="mask half">
                <div class="fill-1"></div>
            </div>
            <div class="inside-circle">85%</div>
                <div class="sihle">
                  <p>  Accumulate points <br> from Participation</p>
                </div>
            </div>
        </div>
    
        <!-- two -->
        <div class="circle-wrap">
            <div class="circle">
                <!-- 1 -->
                <div class="mask full-2">
                    <div class="fill-2"></div>
                </div>
    
                <!-- 2 -->
                <div class="mask half">
                    <div class="fill-2"></div>
                </div>
                <div class="inside-circle">57%</div>
                <div class="sihle">
                    <p>  Accumulate points <br> from Quiz</p>
                  </div>
            </div>
        </div>
    </div>
</div>
    
