<app-navbar></app-navbar>
<div class="allContainer">
    <div class="home">
        <video autoplay muted loop>
            <source src="assets\videos\Video.Guru.mp4" type="video/mp4" >
        </video>
        <div class="home-t">
            <div class="container">
               <div class="row">
                       <h1 class="sihle"><strong>WELCOME TO STEMIA</strong></h1>
                       <br>
                       <h4 class="zwane">Prepare for tertiary with us!!!</h4>
                       <br>
               </div>
           </div>
        </div>
    </div>
    
    
</div>


