<app-navbar></app-navbar>
<div class="sihle">
    

<div class="container">
    <div class="circle">
        <img src="assets\grp\mash.jpg" alt="">
    </div>
    <h1>HACKATHON</h1>
    <p>
        <strong>TVH</strong> is an annual hacking competition that was introduced in 2018 by its Chief Organizer <br> <strong> Mr Mash Phurutsi</strong>. TVH is a Tshwane University of Technology hackathon competition organized by the Faculty of ICT & Directorate of Research & Innovation in partnership with the industry in support of, the National Development Plan (Vision 2030) of the Government of the Republic of South Africa by addressing Chapter 9 of the plan that focuses on “Improving Education, Training and Innovation”. <br><br> TVH is further aligned to TUT 2020 – 2025 strategic positioning on the ambitions to become a digitally-advanced university.
    
    TVH is gradually becoming an innovation movement as it has grown from a small event to include all universities in the City of Tshwane <strong>(UP, SMU & UNISA)</strong> and is running throughout the year with empowerment workshops to close the agile system development and Cloud Computing knowledge gap between the industry and the university community.
    </p>
    
    <!-- <p>
        
    
    
    TVH is an annual hacking competition that was introduced in 2018 by its Chief Organizer Mr Mash Phurutsi.
     TVH is a Tshwane University of Technology hackathon competition organized by the Faculty of ICT & Directorate of Research & Innovation in partnership with the industry in support of, 
    the National Development Plan (Vision 2030) of the Government of the Republic of South Africa by addressing Chapter 9 of the plan that focuses on “Improving Education, Training and Innovation”. 
    TVH is further aligned to TUT 2020 – 2025 strategic positioning on the ambitions to become a digitally-advanced university.
    
    TVH is gradually becoming an innovation movement as it has grown from a small event to include all universities in the City of Tshwane (UP, SMU & UNISA) 
    and is running throughout the year with empowerment workshops to close the agile system development and Cloud Computing knowledge gap between the industry and the university community
    
    
    How the Hack
    Partners from the industry, municipality (City of Tshwane), and Universities will be requested to present challenges that are currently faced by global citizens. Applicants will then be required to come up with innovative solutions to solve these problems.
    
    Groups consisting of 7-10 participants will be formed by the members of the organizing team. In each group, there has to be a student hacker with the following background/knowledge:
    
    Programmers and Engineers
    Marketing and entrepreneurship
    Design (UI/UX)
    First year students
    Girl-Coder
    SCRUM Masters
    ICT and engineering hackers will demonstrate their skills in software development, cloud computing, agile practices to develop digital solutions that can solve presented challenges.
    
    Applicants will only be given 53 hours to do all of this. This competition, therefore, assists with the growth of student’s problem-solving skills, in so doing, contributing to producing future-ready graduates.
    
    Participants
    The individuals involved in the organising and excution of the Tshwane Varsity Hackathon. Consisting of the Lead Organising Team industry Volunteers and the Organising Team.
    
    Free Entry
    The Tshwane Varsity Hackathon is open to TUT all students and other respective Universities no entry/ registration fee.
    </p> -->
</div>
</div>